<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Gym</title>
</head>
<body style="width: 100%; height: 100vh;" class="mb-5">
    <div class="w-100 d-flex justify-content-center align-items-center flex-column">
        <div id="sections" class="d-flex justify-content-center align-items-center flex-column w-100">
            <div class="fs-4 text-center w-100">СЕКЦИИ</div>
            <div class="fs-4 text-center">Список секций:</div>
            <div class="fs-6 text-center" id="sections-list"></div>
            <div class="row w-100 mt-2">
                <div class="col-6">
                    <div class="fs-4 text-center">Создание: http://localhost/sections</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <input class="form-control w-25 mb-2" type="text" id="sections-name" placeholder="Введите имя секции">
                        <button class="btn btn-primary w-25" onclick="createSection()">Отправить данные</button>
                    </div>
                    <div id="sections-response" class="fs-4 text-center">

                    </div>
                </div>
                <div class="col-6">
                    <div class="fs-4 text-center">Отправляемые данные:</div>
                    <div class="text-center d-flex justify-content-center align-items-center" style="white-space: pre; margin-top: -20px;">
                        <div class="text-start fs-4">
                            name: "Бокс"
                        </div>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    <div class="fs-4 text-center">Удаление: http://localhost/sections/{id}</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <input class="form-control w-25 mb-2" type="text" id="sections-id" placeholder="Укажите id для удаления">
                        <button class="btn btn-primary w-25" onclick="deleteSection()">Удалить</button>
                    </div>

                    <div class="sections-delete-response"></div>
                </div>
            </div>
        </div>
        <div id="trainers" class="d-flex justify-content-center align-items-center flex-column w-100">
            <div class="fs-4 text-center w-100">ТРЕНЕРА</div>
            <div class="fs-4 text-center">Список тренеров:</div>
            <div class="fs-6 text-center" id="trainers-list"></div>
            <div class="row w-100 mt-2">
                <div class="col-6">
                    <div class="fs-4 text-center">Создание: http://localhost/trainers</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <input class="form-control w-25 mb-2" type="text" id="trainers-username" placeholder="Введите ФИО тренера">
                        <input class="form-control w-25 mb-2" type="text" id="trainers-password" placeholder="Введите пароль">
                        <input class="form-control w-25 mb-2" type="text" id="trainers-email" placeholder="Введите email">
                        <input class="form-control w-25 mb-2" type="text" id="trainers-phone" placeholder="Введите номер телефона">
                        <button class="btn btn-primary w-25" onclick="createTrainer()">Отправить данные</button>
                    </div>
                    <div id="trainers-response" class="fs-6 text-center">

                    </div>
                </div>
                <div class="col-6">
                    <div class="fs-4 text-center">Отправляемые данные:</div>
                    <div class="text-center d-flex justify-content-center align-items-center" style="white-space: pre; margin-top: -20px;">
                        <div class="text-start fs-4">
                            username: "Иванов Иван Иванович",
                            password: "password",
                            email: "example@example.com",
                            phoneNumber: "+79999999999"
                        </div>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    <div class="fs-4 text-center">Удаление: http://localhost/trainers/{id}</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <input class="form-control w-25 mb-2" type="text" id="trainers-id" placeholder="Укажите id для удаления">
                        <button class="btn btn-primary w-25" onclick="deleteTrainer()">Удалить</button>
                    </div>

                    <div id="trainers-delete-response" class="fs-6 text-center"></div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    <div class="fs-4 text-center">Установка почасовой ставки: http://localhost/trainers/{id}/set-hourly-rate</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <input class="form-control w-25 mb-2" type="text" id="trainers-id2" placeholder="Укажите id тренера">
                        <input class="form-control w-25 mb-2" type="text" id="hourly-rate" placeholder="Укажите почасовую ставку">
                        <button class="btn btn-primary w-25" onclick="setHourlyRate()">Отправить данные</button>
                    </div>

                    <div id="trainers-response-hourly" class="fs-6 text-center"></div>
                </div>
                <div class="col-6">
                    <div class="fs-4 text-center">Отправляемые данные:</div>
                    <div class="text-center d-flex justify-content-center align-items-center" style="white-space: pre; margin-top: -20px;">
                        <div class="text-start fs-4">
                            hourlyRate: 500
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="trainigs" class="d-flex justify-content-center align-items-center flex-column w-100">
            <div class="fs-4 text-center w-100">ТРЕНИРОВКИ</div>
            <div class="fs-4 text-center">Список тренировок:</div>
            <div class="fs-6 text-center" id="trainigs-list"></div>
            <div class="row w-100 mt-2">
                <div class="col-6">
                    <div class="fs-4 text-center">Создание: http://localhost/trainers/{id}/trainings</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <input class="form-control w-25 mb-2" type="text" id="trainings-trainer-id" placeholder="Идентификатор тренера">
                        <input class="form-control w-25 mb-2" type="datetime-local" id="trainings-start" placeholder="Укажите время начала">
                        <input class="form-control w-25 mb-2" type="datetime-local" id="trainings-end" placeholder="Укажите время окончания">
                        <button class="btn btn-primary w-25" onclick="createTraining()">Отправить данные</button>
                    </div>
                    <div id="trainigs-response" class="fs-6 text-center">

                    </div>
                </div>
                <div class="col-6">
                    <div class="fs-4 text-center">Отправляемые данные:</div>
                    <div class="text-center d-flex justify-content-center align-items-center" style="white-space: pre; margin-top: -20px;">
                        <div class="text-start fs-4">
                            startTime: "2024-10-03T07:29:48",
                            endTime: "2024-10-03T07:29:48"
                        </div>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    <div class="fs-4 text-center">Удаление: http://localhost/trainers/trainigs/{id}</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <input class="form-control w-25 mb-2" type="text" id="trainings-id" placeholder="Укажите id для удаления">
                        <button class="btn btn-primary w-25" onclick="deleteTrainigs()">Удалить</button>
                    </div>

                    <div id="trainigs-delete-response" class="fs-6 text-center"></div>
                </div>
            </div>
        </div>
        <div id="clients" class="d-flex justify-content-center align-items-center flex-column w-100">
            <div class="fs-4 text-center w-100">КЛИЕНТЫ</div>
            <div class="fs-4 text-center">Список клиентов:</div>
            <div class="fs-6 text-center" id="clients-list"></div>
            <div class="row w-100 mt-2">
                <div class="col-6">
                    <div class="fs-4 text-center">Создание: http://localhost/clients</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <input class="form-control w-25 mb-2" type="text" id="clients-username" placeholder="Введите ФИО клиента">
                        <input class="form-control w-25 mb-2" type="text" id="clients-password" placeholder="Введите пароль">
                        <input class="form-control w-25 mb-2" type="text" id="clients-email" placeholder="Введите email">
                        <input class="form-control w-25 mb-2" type="text" id="clients-phone" placeholder="Введите номер телефона">
                        <button class="btn btn-primary w-25" onclick="createClient()">Отправить данные</button>
                    </div>
                    <div id="clients-response" class="fs-6 text-center">

                    </div>
                </div>
                <div class="col-6">
                    <div class="fs-4 text-center">Отправляемые данные:</div>
                    <div class="text-center d-flex justify-content-center align-items-center" style="white-space: pre; margin-top: -20px;">
                        <div class="text-start fs-4">
                            username: "Иванов Иван Иванович",
                            password: "password",
                            email: "example@example.com",
                            phoneNumber: "+79999999999"
                        </div>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    <div class="fs-4 text-center">Удаление: http://localhost/clients/{id}</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <input class="form-control w-25 mb-2" type="text" id="clients-id" placeholder="Укажите id для удаления">
                        <button class="btn btn-primary w-25" onclick="deleteClients()">Удалить</button>
                    </div>

                    <div id="clients-delete-response" class="fs-6 text-center"></div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    <div class="fs-4 text-center">Запись на тренировку: http://localhost/trainer/{trainerId}/trainings/{trainingId}/registration/{clientId}</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <input class="form-control w-25 mb-2" type="text" id="clients-registration-id" placeholder="Укажите id клиента">
                        <select class="form-control w-25 mb-2" id="clients-trainigs" style="max-height: 100px;">

                        </select>
                        <button class="btn btn-primary w-25" onclick="registrationClients()">Записать клиента</button>
                    </div>

                    <div id="clients-registration-response" class="fs-6 text-center"></div>
                </div>
            </div>
        </div>
        <div id="subscriptions" class="d-flex justify-content-center align-items-center flex-column w-100">
            <div class="fs-4 text-center w-100">Абонементы</div>
            <div class="fs-4 text-center">Список абонементов:</div>
            <div class="fs-6 text-center" id="subscriptions-list"></div>
            <div class="row w-100 mt-2">
                <div class="col-6">
                    <div class="fs-4 text-center">Создание: http://localhost/subscriptions/client/{clientId}</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <input class="form-control w-25 mb-2" type="text" id="subscriptions-client-id" placeholder="Идентификатор клиента">
                        <input class="form-control w-25 mb-2" type="text" id="subscriptions-duration" placeholder="Длительность (дни)">
                        <button class="btn btn-primary w-25" onclick="createSubscription()">Отправить данные</button>
                    </div>
                    <div id="subscriptions-response" class="fs-6 text-center">

                    </div>
                </div>
                <div class="col-6">
                    <div class="fs-4 text-center">Отправляемые данные:</div>
                    <div class="text-center d-flex justify-content-center align-items-center" style="white-space: pre; margin-top: -20px;">
                        <div class="text-start fs-4">
                            duration: 30
                        </div>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-6">
                        <div class="fs-4 text-center">Удаление: http://localhost/subscriptions/{id}</div>
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <input class="form-control w-25 mb-2" type="text" id="subscriptions-id" placeholder="Укажите id для удаления">
                            <button class="btn btn-primary w-25" onclick="deleteSubscription()">Удалить</button>
                        </div>

                        <div id="subscriptions-delete-response" class="fs-6 text-center"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="admins" class="d-flex justify-content-center align-items-center flex-column w-100">
            <div class="fs-4 text-center w-100">АДМИНЫ</div>
            <div class="fs-4 text-center">Список админов:</div>
            <div class="fs-6 text-center" id="admins-list"></div>
            <div class="row w-100 mt-2">
                <div class="col-6">
                    <div class="fs-4 text-center">Создание: http://localhost/admins</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <input class="form-control w-25 mb-2" type="text" id="admins-username" placeholder="Введите ФИО админа">
                        <input class="form-control w-25 mb-2" type="text" id="admins-password" placeholder="Введите пароль">
                        <input class="form-control w-25 mb-2" type="text" id="admins-email" placeholder="Введите email">
                        <button class="btn btn-primary w-25" onclick="createAdmin()">Отправить данные</button>
                    </div>
                    <div id="admins-response" class="fs-6 text-center">

                    </div>
                </div>
                <div class="col-6">
                    <div class="fs-4 text-center">Отправляемые данные:</div>
                    <div class="text-center d-flex justify-content-center align-items-center" style="white-space: pre; margin-top: -20px;">
                        <div class="text-start fs-4">
                            username: "Иванов Иван Иванович",
                            password: "password",
                            email: "example@example.com"
                        </div>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    <div class="fs-4 text-center">Удаление: http://localhost/admins/{id}</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <input class="form-control w-25 mb-2" type="text" id="admins-id" placeholder="Укажите id для удаления">
                        <button class="btn btn-primary w-25" onclick="deleteAdmins()">Удалить</button>
                    </div>

                    <div id="admins-delete-response" class="fs-6 text-center"></div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    <div class="fs-4 text-center">Получить проведенные тренировки: <br> http://localhost/admins/trainings-conducted</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <button class="btn btn-primary w-25" onclick="trainingsСonducted()">Получить</button>
                    </div>
    
                    <div id="admins-trainings-conducted-response" class="fs-6 text-center"></div>
                </div>
                <div class="col-6">
                    <div class="fs-4 text-center">Возвращаемые данные:</div>
                    <div class="text-center d-flex justify-content-center align-items-center" style="white-space: pre; margin-top: -20px;">
                        <div class="text-start fs-4">
                            count: Количество проведенных тренировок,
                            trainings: Список проведенных тренировок
                        </div>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    <div class="fs-4 text-center">Получить активность клиентов: <br> http://localhost/admins/clients-activity</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <button class="btn btn-primary w-25" onclick="clientsActivity()">Получить</button>
                    </div>
    
                    <div id="admins-clients-activity-response" class="fs-6 text-center"></div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-6">
                    <div class="fs-4 text-center">Получить активность тренеров: <br> http://localhost/admins/trainers-activity</div>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <button class="btn btn-primary w-25" onclick="trainersActivity()">Получить</button>
                    </div>
    
                    <div id="admins-trainers-activity-response" class="fs-6 text-center"></div>
                </div>
            </div>
        </div>
        <div style="height: 150px;"></div>
    </div>
<script th:src="@{/js/sections.js}"></script>
<script th:src="@{/js/trainers.js}"></script>
<script th:src="@{/js/onload.js}"></script>
<script th:src="@{/js/trainings.js}"></script>
<script th:src="@{/js/clients.js}"></script>
<script th:src="@{/js/admins.js}"></script>
<script th:src="@{/js/subscriptions.js}"></script>
</body>
</html>